---
layout: default
title: Your New Jekyll Site
---

  <div class="blog-posts">
    {% for post in site.posts %}
      <h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="blog-post-meta">{{ post.date | date_to_string }}</p>
	  {{ post.excerpt }}
    {% endfor %}
  </div>