<div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item active" href="/">Blog</a>
        <a class="blog-nav-item" href="/projects">Projects</a>
        <a class="blog-nav-item" href="/about">About</a>
        <a class="blog-nav-item" href="/archives">Archives</a>
        <a class="blog-nav-item" target=_blank href="https://www.acts18tech.com">Acts 1:8 Technology</a>
      </nav>
    </div>
  </div>