
<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>

    {% include navigation.html %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">North to Coding</h1>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">
      
        <div class="col-sm-8 blog-main">

        {{ content }}

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Other Places</h4>
            <ol class="list-unstyled">
              <li><a target="_blank" href="https://github.com/mikeblakeney">GitHub</a></li>
              <li><a target="_blank" href="https://twitter.com/akmblakeney">Twitter</a></li>
              <li><a target="_blank" href="https://github.com/mikeblakeney/Feedback/issues/new">Leave me feedback</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


  {% include footer.html %}

  {% include footer-scripts.html %}
  </body>
</html>
